<html lang="en-US" class="no-js">

<head>
    <%- include('../../components/head'); %>
    <link href="../../../assets/css/community_style.css" rel="stylesheet" type="text/css" />
</head>

<body id="body" class="unveil">
    <%- include('../../components/svg-defs'); %>
    <div id="root">
        <div class="commonStyle-self">
            <div class="Main-container main-bg">
                <%- include('./partials/community.ejs'); %>
                <%- include('./partials/telegram.ejs'); %>
            </div>
        </div>
    </div>
</body>

</html>
